# Projeto Final - Análise de Relação entre PIB e Taxa de Desemprego dos EUA
Projeto feito por Pedro Tejon para a conclusão do curso Python para a Ciência de Dados e IA, da IBM.

In [57]:
# Setup
from pandas import read_csv
from bokeh.plotting import figure, output_file, show


def make_dashboard(anos, diferenca_pib, taxa_desemprego, titulo, arquivo):
    output_file(arquivo)
    p = figure(title=titulo, x_axis_label='year', y_axis_label='%')
    p.line(anos.squeeze(), diferenca_pib.squeeze(), color="firebrick", line_width=4, legend_label="% mudança de PIB")
    p.line(anos.squeeze(), taxa_desemprego.squeeze(), line_width=4, legend_label="% desemprego")
    show(p)

#### Crie uma estrutura de dados que contenha os dados do PIB e exiba-a usando o método head() e tire uma captura de tela.

In [58]:
dados_pib = read_csv('pib.csv')
dados_pib.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

#### Crie uma estrutura de dados que contenha os dados de desemprego. Exiba as 5 primeiras linhas da estrutura de dado usando o método head() e tire uma captura de tela.

In [59]:
dados_taxa_desemprego = read_csv('taxa_desemprego.csv')
dados_taxa_desemprego.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

#### Exiba uma estrutura de dados na qual o desemprego era maior que 8,5%. Capture a imagem da tela.

In [60]:
dados_taxa_desemprego.loc[dados_taxa_desemprego['unemployment'] > 8.5]

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333

#### Use a função make_dashboard para fazer um painel e capture a imagem da tela.

In [62]:
anos = dados_taxa_desemprego['date']
mudanca_pib = dados_pib['change-current']
taxa_desemprego = dados_taxa_desemprego['unemployment']

make_dashboard(anos, 
               mudanca_pib, 
               dados_taxa_desemprego['unemployment'], 
               'Relação entre taxa de desemprego e PIB (EUA)', 
               'resultado.html')